:root { color-scheme: light dark; }

@media (prefers-color-scheme: dark) {
    body { background-color: #151515; color: white; }
}

@media (prefers-color-scheme: light) {
    body { background-color: #fefefe; color: black; }
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/roboto-400.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/roboto-700.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after { box-sizing: inherit; }

body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
    padding: .75em;
    border-radius: 5px;
    border: 0;
    transition: background-color .15s ease-out;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

video {
    display: block;
    height: auto;
    max-height: 66%;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #cecece;
    border-radius: 5px;
    object-fit: cover;
}

.main {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    height: 100vh;
}

.page-header {
    position: relative;
}

.page-header__title {
    padding-right: 1em;
    padding-left: 1em;
}

.page-header__btn {
    position: absolute;
    top: 0;
    right: 0;
}

.page-footer {
    padding-top: 1em;
    margin-top: auto;
}

.theme-btn {
    width: 32px;
    height: 32px;
    padding: 0;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    background-color: #ccc;
    overflow: hidden;
}

.theme-btn:hover {
    background-color: #ddd;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
