:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    body { background-color: #151515; color: white; }
}

@media (prefers-color-scheme: light) {
    body { background-color: #fefefe; color: black; }
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/roboto-400.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/roboto-700.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
    padding: .75em;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

video {
    display: block;
    height: auto;
    margin: 1em;
    background-color: #cecece;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-footer {
    margin-top: auto;
    margin-bottom: 1em;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
